.bp-row {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin: 0;
}

.bp-login {
  display: flex;
  width: 100%;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.bp-login-image {
  background-color: #FAA500;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 10px 0 0 10px;

  .bp-logo-chef {
    width: 250px;
  }
}

.bp-login-form {
  width: 70%;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  padding: 0 2rem;

  .bp-form {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .bp-col {
    padding: 0;
  }

  .bp-login {
    flex-direction: column;
    height: 100vh;
  }

  .bp-login-image, .bp-login-form {
    width: 100%;
    padding: 2rem;
  }

  .bp-login-image {
    border-radius: 0;
    height: 50vh;

    .bp-logo-chef {
      width: 250px;
    }
  }

  .bp-login-form-title {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      color: #FAA500;
      font-weight: 500;
    }
  }

  .bp-form-group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .bp-login-form-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #FAA500;
  }

  .bp-login-form-input::placeholder {
    color: rgb(182, 180, 180);
  }

  .bp-login-form-input:focus {
    box-shadow: none;
  }

  .bp-login-form-button {
    margin: 3rem 0 2rem 0;

    button {
      height: 40px;
      background-color: #FAA500;
      border-radius: 6px;
      color: #FFFFFF;
    }

    button:active {
      background-color: #ec9e00;
    }
  }

  .bp-do-not-have-account {
    text-align: center;

    .bp-do-not-have-account-text {
      color: rgb(136, 136, 136);
    }

    .bp-do-not-have-account-link {
      color: #FAA500;
      cursor: pointer;
    }

    .bp-do-not-have-account-text, .bp-do-not-have-account-link {
      margin: 0;
    }
  }
}
