.bp-user div {
  margin-bottom: 2rem;
}

.bp-recipe-name {
  font-weight: 600;
}

.bp-recipe-image {
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 1rem;
}

.bp-recipe-description {
  font-size: 16px;
}

.bp-created-by {
  font-size: 18px;
}
