<nav class="navbar navbar-expand-lg np-navbar">
	<div class="container-fluid np-navbar-alignment">
		<a class="navbar-brand" routerLink="/home">
      <img src="../../../../../assets/img/bom-preparo.svg" class="bp-navbar-img">
    </a>

		<button class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed; open(content)">
      <img src="../../../../assets/img/responsive-menu.svg" class="bp-responsive-menu-img">
    </button>

    <ul class="navbar-nav collapse navbar-collapse bp-navbar-ul">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="" (click)="isMenuCollapsed = true">Explorar receitas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="" (click)="isMenuCollapsed = true">Suas receitas</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="" (click)="isMenuCollapsed = true">Seus ingredientes</a>
      </li>
    </ul>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ng-template #content let-offcanvas class="bp-offcanvas">
        <div class="offcanvas-header bp-offcanvas-header">
          <h4 class="offcanvas-title" style="opacity: 0">Offcanvas title</h4>
          <button type="button" class="btn-close bp-offcanvas-close-button" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav bp-offcanvas-ul">
            <li class="nav-item bp-offcanvas-li">
              <a class="nav-link" [routerLink]="" (click)="isMenuCollapsed = true">
                <img src="../../../../assets/img/search.svg" class="bp-offcanvas-menu-icon"> Explorar receitas
              </a>
            </li>

            <div class="bp-offcanvas-menu-line"></div>

            <li class="nav-item bp-offcanvas-li">
              <a class="nav-link" [routerLink]="" (click)="isMenuCollapsed = true">
                <img src="../../../../assets/img/recipe.svg" class="bp-offcanvas-menu-icon"> Suas receitas
              </a>
            </li>

            <div class="bp-offcanvas-menu-line"></div>

            <li class="nav-item bp-offcanvas-li">
              <a class="nav-link" [routerLink]="" (click)="isMenuCollapsed = true">
                <img src="../../../../assets/img/fridge.svg" class="bp-offcanvas-menu-icon"> Seus ingredientes
              </a>
            </li>

            <li class="nav-item bp-offcanvas-li" *ngIf="isUserLoggedIn" (click)="logout()">
              <a class="nav-link" (click)="isMenuCollapsed = true">
                <img src="../../../../assets/img/logout.svg" class="bp-offcanvas-menu-icon"> Logout
              </a>
            </li>

            <li class="nav-item bp-offcanvas-li" *ngIf="!isUserLoggedIn" (click)="login()">
              <a class="nav-link" (click)="isMenuCollapsed = true">
                <img src="../../../../assets/img/logout.svg" class="bp-offcanvas-menu-icon"> Login
              </a>
            </li>
          </ul>
        </div>
      </ng-template>
    </div>
	</div>
</nav>


